# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\nicem\Documents\Actual Documents\Georgian Winter 1\Georgian Java 2021\W21-st1151043-COMP1008-LabWeek5\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
